<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Stay Analysis</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Hospital_code" placeholder="Hospital_code" required="required" />
        <input type="text" name="City_Code_Hospital" placeholder="City_Code_Hospital" required="required" />
		<input type="text" name="Hospital_region_code" placeholder="Hospital_region_code" required="required" />
		<input type="text" name="Available Extra Rooms in Hospital" placeholder="Available Extra Rooms in Hospital" required="required" />
		<input type="text" name="Department" placeholder="Department" required="required" />
		<input type="text" name="Type of Admission" placeholder="Type of Admission" required="required" />
		<input type="text" name="Severity of Illness" placeholder="Severity of Illness" required="required" />
		<input type="text" name="Visitors with Patient" placeholder="Visitors with Patient" required="required" />
		<input type="text" name="Age_New" placeholder="Age_New" required="required" />
		<input type="text" name="Bed Grade_New" placeholder="Bed Grade_New" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>